body{
    font-family: 'Roboto';
}
.navbar{
    background: #2c3e50;
}
.navbar a{
    color: white;
}
.navbar a:hover{
    color: #000;
}

.navbar .navbar-nav ul.drop{
    display: none;
}

/* --- HALAMAN UTAMA --- */
#body{
    background: #ecf0f1;
    padding: 1px;
}
.section1{
    margin-top: 30px;
    margin-bottom: 15px;
}
.section2{
    margin-top: 5px;
    font-family: 'Roboto', sans-serif;
}
.section3{
    margin-top: 30px;
    margin-bottom: 30px;
}
.section1 .card .card-header .fa{
    color: #000;
}
.section1 .card .card-header span{
    color: #000;
}
.section2 .card .card-header{
    background: #0984e3;
    font-size: 20px;
    font-weight: 700;
}
.section2 .card .card-header .fa{
    color: #fff;
}
.section2 .card .card-header span{
    color: #fff;
}
.section3 .card .card-header{
    background: #0984e3;
    font-size: 20px;
    font-weight: 700;
}
.section3 .card .card-header .fa{
    color: #fff;
}
.section3 .card .card-header span{
    color: #fff;
}

/* --- BUKU --- */
#body .main-buku{
    margin-top: 30px;
}
#body .card .table thead{
    background: #eee;
}

/* --- LOGIN REGISTER --- */
#backlogin::before{
    content: '';
    background: url('../img/bgudinus.jpg');
    width: 100%;
    height: 100%;
    display: block;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    filter: blur(5px);
}
#bodylogin .main-form{
    background: #fff;
    height: 100%;
    position: relative;
    z-index: 99;
    margin-top: 120px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#bodylogin .main-form .kiri{
    background: #2979FF;
    color: #fff;
    height: 100%;
    padding-top: 85px;
    padding-bottom: 25px;
    padding-left: 10px;
    padding-right: 10px;
}
#bodylogin .main-form .kiri .kiri-body{
    padding-top: 50px;
    padding-bottom: -100px;
}
#bodylogin .main-form .kiri .kiri-image{
    text-align: center
}
#bodylogin .main-form .kiri .kiri-image img{
    width: 150px;
    height: 150px;
    margin-bottom: 15px;
}
#bodylogin .main-form .kanan{
    height: 100%;
    padding-top: 40px;
    padding-right: 30px;
}
#bodylogin .main-form .kanan-body{
    padding-top: 100px;
}

/* --- PINJAM BUKU --- */
#backpinjam{
    background: #eee;
}
#bodypinjam .form-pinjam{
    background: #fff;
    padding: 30px;
    margin: 20px 0;
}

/* --- BUKU TAMU --- */
#backbukutamu{
    background: #eee;
}
#body .form-bukutamu{
    margin-top: 30px;
}

/* --- PROFIL --- */
#backprofil{
    background: #ecf0f1;
    min-height: 100vh;
}
.section-profil{
    margin-top: 30px;
}
.section-profil .card-header{
    background: #2979FF;
}
.section-profil .custom-header{
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;
}
.section-profil .custom-header img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.section-profil .custom-header span{
    padding-left: 5px;
}
.section-profil .card-body ul{
    padding-left: 0;
    list-style: none;
}
.section-profil .card-body ul li{
    border-bottom: 1px solid #f4f4f4;
    margin: 0;
    padding: 5px;
}

#backupdate{
    background: #ecf0f1;
    min-height: 100vh;
}
.section-update .card{
    margin-top: 30px;
}
.section-update .card-header{
    background: #2979FF;
    color: #fff;
}