.navbar{
    background: #0984e3;
}
.navbar a{
    color: #fff;
}
.navbar a:hover{
    color: #000;
}

/* --- BUKU --- */
#body .card .table thead{
    background: #eee;
}

/* --- LOGIN REGISTER --- */
#backlogin{
    background: #e6e6e6;
}
#bodylogin .main-form{
    background: #0984e3;
    border: 1px solid #000;
    height: 100%;
}
#bodylogin .main-form .kiri{
    background: #fff;
    padding: 10px;
    height: 100%;
}
#bodylogin .main-form .kiri .kiri-image{
    text-align: center
}
#bodylogin .main-form .kiri .kiri-image img{
    width: 150px;
    height: 150px;
    margin-bottom: 15px;
}
#bodylogin .main-form .kanan{
    background: #0984e3;
    color: #fff;
    height: 100%;
    padding-top: 40px;
    padding-right: 30px;
}
